force-app/main/default/flows/Referral__RTF__Lifecycle_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Validate_Referral</name>
        <label>Validate Referral</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral__c.Referral_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Validated</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
        <rules>
            <name>Is_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral__c.Referral_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Exception</targetReference>
            </connector>
            <label>Is Invalid</label>
        </rules>
    </decisions>
    <interviewLabel>Referral__RTF__Lifecycle_Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral RTF Lifecycle Orchestration</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Referral__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>Referral__c</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>Old_Referral__c</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>RecordAfterSave</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Referral</name>
        <label>Get Referral</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Referral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Flag_Exception</name>
        <label>Flag Exception</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Exception__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Reason__c</field>
            <value>
                <stringValue>Missing required fields</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <stringValue>Awaiting Info</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Validated</name>
        <label>Update Status to Validated</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>Event_Record</assignRecordIdToReference>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Status Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Description__c</field>
            <value>
                <stringValue>Status updated via flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Referral_Event__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referral</targetReference>
        </connector>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Referral__c</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>Old_Referral__c</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>Event_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Event__c</objectType>
    </variables>
</Flow>