force-app/main/default/flows/Referral_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Exception_Event</targetReference>
            </connector>
            <label>Missing Info</label>
        </rules>
        <defaultConnector>
            <targetReference>Update_Status_Validated</targetReference>
        </defaultConnector>
    </decisions>
    <interviewLabel>Referral Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Intake Flow</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Referral__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>RecordAfterSave</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Event</name>
        <label>Create Exception Event</label>
        <locationX>176</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Update_Status_Awaiting</targetReference>
        </connector>
        <inputAssignments>
            <field>Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Exception</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Required information is missing</stringValue>
            </value>
        </inputAssignments>
        <object>Referral_Event__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Status_Awaiting</name>
        <label>Update Status Awaiting</label>
        <locationX>176</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Info</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <filters>
            <field>$Record.Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Validated</name>
        <label>Update Status Validated</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <filters>
            <field>$Record.Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Check_Required_Fields</targetReference>
        </connector>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>